.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  background-image:url("../Images/PoohBear.jpg");
  height: 200px;
  padding: 25px;
  color: rgb(7, 7, 7);
  background-repeat: repeat;
  background-size: 21%;
  border: 10px solid  #5d5a5a;
}

.App-intro {
  font-size: large;
}

h2 {
  font-size: 67px;
  text-align: center;
  font-family: 'Germania One', cursive;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
