body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../Images/disney.jpg");
  background-size: 20% ;
}

.button {
  float: inline-end;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}